{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{%block title%}{%endblock%}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/ruang-admin.min.css' %}" rel="stylesheet">
</head>
<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <hr class="sidebar-divider my-0">
      {% load custom_tags %}
      {% if request.user|has_group:"admin" %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">  
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'userdetails' %}">
          <i class="bi bi-person"></i>
          <span>Person info</span></a>
      </li>
      <!-- <hr class="sidebar-divider"> --> 
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'list_user' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>clients</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'client_business' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>business form</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'client_biz' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>business details</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'emp_form' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>employment form</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'empldetails' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>employment details</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'bank_form' %}">
          <i class="fa fa-bank"></i>
          <span>bank form</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'loan_details' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>bank_details</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'loan_form' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>loan form</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'loan_details' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>loan details</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'other_form' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>other_form</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'other_details' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>other loan details</span></a>
      </li>
      {% elif request.user|has_group:"webadminister" %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'list_user' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>clients</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'loan_details' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>loan details</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'other_details' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>other loan details</span></a>
      </li>
      {% elif request.user|has_group:"clientuser" %}
     <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'userdetails' %}">
          <i class="bi bi-person"></i>
          <span>Person info</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'bank_form' %}">
          <i class="bi bi-bank"></i>
          <span>bank form</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'client_business' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>business form</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'loan_form' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>loan form</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'emp_form' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>employment form</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'other_form' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>other_form</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'moredetails' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>your details</span></a>
      </li>
      {%endif%}
      <hr class="sidebar-divider">        
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="ml-2 d-none d-lg-inline text-white small">{{user.username}}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'updateprofile' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="{% url 'password_change' %}">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  change password
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout'%}">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>
          {%block content%}
          {%endblock%}
</body>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - developed by
              <b><a href="https://www.github.com/smagucha" target="_blank">sammy magucha</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>
  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="{% url 'homepage' %}">
    <i class="fas fa-angle-up"></i>
  </a>
    <script src="{% static 'jquery\jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap\bootstrap.bundle.min.js' %}"></script> 
    <script src="{% static 'js\ruang-admin.min.js' %}"></script>  
</body>
</html>