{%extends 'codechallenege/base.html'%}
{%block title%}
 {{title}}
{%endblock %}
{%block content%}
<h1>Fill in if  you have other loans less button home</h1>
<style>
      .nextbutton {
         margin-top: 5px;
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #7aa8b7;
        border-radius: 6px;
        outline: none;
      }
    </style>
{% include "codechallenege/form.html" %}
 <a class="nextbutton" href="{%url 'homepage' %}">home</a>
{%endblock%}


